footer {
    background-color: #28282d;
    color: white;
    padding: 20px;
    border-top: 5px solid orange;
}

h6 {
    margin-bottom: 10px;
}

p {
    margin: 0;
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
}

.fa-whatsapp{
    color: #fff;
}