<footer class="container-fluid">
    <div class="row">
        <div class="col-lg-4 text-center">
            <h6>Deskz</h6>
            <p class="m-0"><a routerLink="about">About Us</a></p>
            <p class="m-0">Our Blog</p>
        </div>

        <div class="col-lg-4 text-center">
            <h6>Contact Us</h6>
            <p><i class="fa fa-phone"></i> +91 93909 68342</p>
            <p><i class="fa fa-whatsapp"></i><a href="https://wa.me/919390968342">+91 93909 68342</a></p>
        </div>

        <div class="col-lg-4 text-center">
            <h6>Locations</h6>
            <p>Hi-Tech City</p>
        </div>

    </div>
</footer>
<div class="footer container-fluid">
    <div class="row ">
        <div class="col-lg-5 d-flex align-items-center">
            <p class=" text-left">@Desksz Hyderabad - Office Space Rentals & Co-Working Spaces
            </p>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <p class=" text-left">contact@deskz.in
            </p>
        </div>

        <div class="col-lg-2">
            <!-- <a href="https://wa.me/919390968342"><span class="fa fa-2x mr-3 fa-whatsapp"></span></a>
            <span class="fa fa-2x mr-3 fa-facebook"></span>
            <span class="fa fa-2x mr-3 fa-instagram"></span>
            <span class="fa fa-2x mr-3 fa-linkedin"></span> -->
            <app-social-links></app-social-links>
        </div>
    </div>
</div>