<h3 class="text-center m-t-xxl">Like any good hpst, we're here to welcome you.</h3>
<p class="text-center">Our state-of-the-art-coworking experience comes complete with all the comforts of home-in a throughly professional setting.</p>
<span class="divider"></span>
<div class="container-fluid">
    <section class="row bg-overlay">
        <div class="col-lg-12">

            <div class="row" style="margin-bottom: 10px;padding-bottom: 10px;">
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x fa-wifi"></span>
                    <h3>A global perspective</h3>
                    <p style="text-align: justify;">
                        Premium membership in any Staples Studio entitles each cardholder access to Staples Studios anywhere in Canada and the United States. Enjoy a truly global taste of collaboration – and how our ideas connect us to each other. </p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x fa-coffee"></span>
                    <h3>Unlimited coffee and tea</h3>
                    <p style="text-align: justify;">
                        Specialty coffee and tea are included in unlimited amounts.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x fa-wifi"></span>
                    <h3>Unlimited Wi-Fi</h3>
                    <p style="text-align: justify;">
                        Our robust, unlimited Wi-Fi keeps you connected and working at peak efficiency.
                    </p>
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px;padding-bottom: 10px;">
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x fa-building"></span>
                    <h3>We're open 24/7</h3>
                    <p style="text-align: justify;">
                        Your dedicated space runs on your schedule and around-the-clock, if necessary. Community Managers are available from 8:30 – 5 pm (M - F). * at select locations.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x fa-gift"></span>
                    <h3>Discounted extras</h3>
                    <p style="text-align: justify;">
                        Staples solutionshop provides members with discounted access and assistance with your print and marketing needs.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                   
                    <span class="fa fa-2x  fa-lightbulb-o"></span>

                    <h3>UPure inspiration</h3>
                    <p style="text-align: justify;">
                        Staples Studio provides sophisticated, state-of-the-art technology, ergonomically-fitted rooms and a stress-free environment.
                    </p>
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px;padding-bottom: 10px;">
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x fa-info"></span>
                    <h3>Dedicated on-site assistance</h3>
                    <p style="text-align: justify;">
                        Help is yours with our hands-on team of associates, ready to provide quick answers to your every question.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x  fa-shopping-cart"></span>
                    <h3>One-stop shopping</h3>
                    <p style="text-align: justify;">
                        Experience it all – smart solutions, a wealth of products and expanded services to meet your every need, in-store and at staples.ca
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x fa-car"></span>
                    <h3>Free parking</h3>
                    <p style="text-align: justify;">
                        Enjoy easy access and free parking for you and all of your clients. * at select locations.
                    </p>
                </div>


            </div>

            <div class="row" style="margin-bottom: 10px;padding-bottom: 10px;">
                <div class="col-md-4 text-center"></div>
                <div class="col-md-4 text-center">
                    <span class="fa fa-2x fa-umbrella"></span>
                    <h3>Everything you could ever need</h3>
                    <p style="text-align: justify;">
                        From a regular cleaning service to wireless charging stations, a private, toll-free phone area and a Community Manager dedicated to meeting your special requirements, Staples Studio has thought of everything.
                    </p>
                </div>
               
            </div>

        </div>
    </section>
</div>