<h3 class="text-center m-t-xxl">About Us</h3>
<span class="divider"></span>
<div class="container">
    <div class="row form-group mb-5">
        <div class="col-lg-7">
            <p>General Information Established in 2009, the U.S. Consulate General in Hyderabad is the first U.S. diplomatic office to open in India since India's independence. It is but one reflection of the United States' commitment to strengthening its
                relationship and engagement with the people and Government of India.</p>
            <p>General Information Established in 2009, the U.S. Consulate General in Hyderabad is the first U.S. diplomatic office to open in India since India's independence. It is but one reflection of the United States' commitment to strengthening its
                relationship and engagement with the people and Government of India.</p>

        </div>
        <div class="col-lg-5">
            <img class="img-fluid" src="assets/images/image.webp">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-5">
            <img class="img-fluid" src="assets/images/image.webp">
        </div>
        <div class="col-lg-7">
            <p>General Information Established in 2009, the U.S. Consulate General in Hyderabad is the first U.S. diplomatic office to open in India since India's independence. It is but one reflection of the United States' commitment to strengthening its
                relationship and engagement with the people and Government of India.</p>
            <ul>
                <li>This is text engagement with the people and Government</li>
                <li>This is text engagement with the people and Government</li>
                <li>This is text engagement with the people and Government</li>
                <li>This is text engagement with the people and Government</li>
            </ul>

        </div>

    </div>

</div>