<a class="pull-left nav-link socialmedia" href="https://wa.me/919390968342">
    <span class="fa fa-2x fa-whatsapp"></span>
</a>
<a class="nav-link pull-left socialmedia" href="https://www.facebook.com/deskzhyd/">
    <span class="fa fa-2x fa-facebook"></span>
</a>
<a class="nav-link socialmedia pull-left" href="https://www.linkedin.com/company/deskz">
    <span class="fa fa-2x  fa-linkedin"></span>
</a>
<a class="nav-link socialmedia pull-left" href="https://www.instagram.com/deskzhyd/">
    <span class="fa fa-2x  fa-instagram"></span>
</a>