.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    background-color: #ccc;
}

a {
    /* padding: .5rem 1rem !important; */
    color: black;
}

.img-fuild {
    width: 300px;
}

.navbar.navbar-expand-md.fixed-top.navbar-default {
    /* background:linear-gradient(to bottom,#000 0,rgba(35, 65, 79,0) 100%); */
    background: white;
    /* background: cadetblue; */
}

.socialmedia {
    float: left;
}

@media only screen and (max-width: 600px) {
    .img-fuild {
        width: 250px;
    }
}